!.gitignore
main*dev.unity*
blender_states.*
test.unity*
sandbox/
sandbox U5/
PlaygroundCache/
FlipbookGames*
platforms/steam/steam_staging
platforms/steam/steamconfig.sh
build/
Builds/
SwitchIL2CPPCache/
SwitchIL2CPPStats/

# Switch #
*.a

# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
PFPTest/*.csproj
*.pidb
*.suo
*.sln
*.sln.hide
*.user
*.unityproj
*.booproj
.vs

.settings/

# === Rider/IDEA === #
*.iml
.idea/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

kingdom/.vscode
kingdom/.vscode/launch.json


xbox/Kingdom_ New Lands_RAWF.99_LocalizedStrings.xlsx
